# dependencies
/node_modules

# production
/build

# misc
.DS_Store
.env


.vscode
*.csv
*.pdf
sonar-project.properties
yarn.lock
*.lock
.yarnrc

.yarn
.idea
package-lock.json

/ssl
cert.pem
privkey.pem
